import requests
import pandas as pd
import sys
import time
#extract_data_url="https://www.marham.pk/api/lab/tests-optimized"
#required_all_available_labs="2,3,9,15"  
#required api url/web to extract data
#in this case data extracted from api with passing url query parameters as lab_id
#sraper.py will auto create the all_labs_tests.csv for data